{% extends "base.html.twig" %}
{% block body %}
<section class="mt-3">
    <div class="container">
        <p class="fw-bold h1 text-center">Qui sommes nous</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex reprehenderit iusto nostrum, ad distinctio reiciendis ea facere eveniet placeat incidunt! Architecto, quidem saepe unde delectus praesentium velit cumque quo asperiores!
        Est veniam deserunt vitae. Eos debitis, repellendus ab voluptatum minus doloremque exercitationem fugiat magni ipsam tenetur corrupti itaque totam obcaecati error, quas, harum accusantium voluptas blanditiis cum. Modi, expedita eligendi.
        Ipsa deleniti sint perferendis totam numquam cumque dolore odio eveniet optio animi! Cum eveniet repellat illum magnam voluptate hic non, nihil placeat distinctio laborum minima neque cupiditate autem nulla harum!
        Nihil quas totam mollitia voluptas quidem, facilis eaque. Numquam ea omnis molestiae? Repellendus autem cupiditate veritatis nesciunt, eveniet harum architecto possimus libero neque exercitationem in porro atque earum temporibus animi.
        Maiores ex voluptatem eius voluptatum ipsam blanditiis culpa sapiente nam sed iure, accusantium ea at facere deleniti, pariatur optio est laboriosam tempore quod eos error mollitia dolorem nemo. Magnam, fugiat?</p>
    </div>
</section>
<section class="mb-5">
    <div class="container">
        <p class="fw-bold text-center h1 my-3">L'équipe</p>
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card">
                    <img src="{{asset("/images/faker450x300.png")}}" alt="" class="card-img-top">
                    <div class="card-body p-3">
                        <p class="h4 text-center">
                            Johnny <span class="fw-bold">Joker</span>
                        </p>
                         <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ad iste facilis rerum fugiat totam commodi? Porro nostrum tenetur ullam asperiores quo quas nobis, dolores debitis. Corporis molestias repellat temporibus.
                            Ratione eligendi nesciunt laudantium qui natus optio fugit facilis, nostrum quos officia, sit numquam maiores expedita praesentium quae, dolorem necessitatibus delectus non odio possimus quasi. Eveniet, reiciendis quia. Ipsa, facilis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card">
                    <img src="{{asset("/images/faker450x300.png")}}" alt="" class="card-img-top">
                    <div class="card-body p-3">
                        <p class="h4 text-center">
                            Johnny <span class="fw-bold">Joker</span>
                        </p>
                         <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ad iste facilis rerum fugiat totam commodi? Porro nostrum tenetur ullam asperiores quo quas nobis, dolores debitis. Corporis molestias repellat temporibus.
                            Ratione eligendi nesciunt laudantium qui natus optio fugit facilis, nostrum quos officia, sit numquam maiores expedita praesentium quae, dolorem necessitatibus delectus non odio possimus quasi. Eveniet, reiciendis quia. Ipsa, facilis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card">
                    <img src="{{asset("/images/faker450x300.png")}}" alt="" class="card-img-top">
                    <div class="card-body p-3">
                        <p class="h4 text-center">
                            Johnny <span class="fw-bold">Joker</span>
                        </p>
                         <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ad iste facilis rerum fugiat totam commodi? Porro nostrum tenetur ullam asperiores quo quas nobis, dolores debitis. Corporis molestias repellat temporibus.
                            Ratione eligendi nesciunt laudantium qui natus optio fugit facilis, nostrum quos officia, sit numquam maiores expedita praesentium quae, dolorem necessitatibus delectus non odio possimus quasi. Eveniet, reiciendis quia. Ipsa, facilis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card">
                    <img src="{{asset("/images/faker450x300.png")}}" alt="" class="card-img-top">
                    <div class="card-body p-3">
                        <p class="h4 text-center">
                            Johnny <span class="fw-bold">Joker</span>
                        </p>
                         <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ad iste facilis rerum fugiat totam commodi? Porro nostrum tenetur ullam asperiores quo quas nobis, dolores debitis. Corporis molestias repellat temporibus.
                            Ratione eligendi nesciunt laudantium qui natus optio fugit facilis, nostrum quos officia, sit numquam maiores expedita praesentium quae, dolorem necessitatibus delectus non odio possimus quasi. Eveniet, reiciendis quia. Ipsa, facilis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}