{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}
{% block body %}
<section class="container my-3">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quae autem cupiditate, quam iusto ea rem quaerat impedit provident. Voluptates consequuntur, cumque illum ab quod inventore id voluptatem itaque nemo.
        Nemo assumenda cupiditate eos ab blanditiis, iure ad eaque consectetur quia itaque reiciendis nisi laboriosam ex numquam provident doloremque. Dolore possimus consequuntur impedit! Facilis harum iste molestias hic, commodi maiores?
    </p>
    <p class="mx-auto">
        <a href="#" class="btn btn-success btn-lg">Soumettre</a>
    </p>
</section>
{% endblock %}