{% extends 'admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<section class="container mt-5">
    <div class="table-responsive">
        <table class="table table-striped" id="myDatTable">
            <thead>
                <tr>
                    <th>CODE</th>
                    <th>DATE SOUMISSION</th>
                    <th>HEURE AFFECTATION</th>
                    <th>AFFECTER A</th>
                    <th>TELEPHONE</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>298855221</td>
                    <td>05-12-2023 15:25:30</td>
                    <td>05-12-2023 15:29:50</td>
                    <td>john Doe </td>
                    <td>23566522555</td>
                    <td><a href="#" class="btn">Détails</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    {#<div class="row gy-4">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card px-3 py-4 bg-secondary" style="height: 125px">
                <p class="h2 text-center">SYNCHRONISER</p>
                <a href="{{path("synchro")}}" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card px-2 py-4 bg-secondary" style="height: 125px">
                <p class="h2 text-center">REINITIALISER</p>
                <a href="" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card px-2 py-4 bg-secondary" style="height: 125px">
                <p class="h2 text-center">UTILISATEURS</p>
                <a href="{{path("app_user")}}" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card px-2 py-4 bg-secondary" style="height: 125px">
                <p class="h2 text-center">RESULTAT</p>
                <a href="" class="stretched-link"></a>
            </div>
        </div>
    </div> {#}
</section>
{% endblock %}