{% form_theme form 'bootstrap_5_layout.html.twig' %}    
{% extends 'admin.html.twig' %}

{% block title %}Manager{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-12 px-3">
            <img src="{{asset("/fichier/"~ pv.imagePv)}}" alt="faker" class="img-fluid rounded" style="height:500px; width: 100%">
        </div>
        <div class="col-md-6 col-12  px-3">
            <div class="p-3 border rounded shadow-lg">
                {{form_start(form)}}
                    {{form_widget(form)}}        
                {{form_end(form)}}
            </div>
        </div>
    </div>
</div>
{% endblock %}
