{% extends 'admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

<section class="container  m-md-5">
    <div class="align-content-center table-responsive-sm ">
        <p class="text-center text-decoration-underline h3 fw-bold mb-3">Données soumis par les observateurs</p>
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>IDPV</th>
                    <th>IDUSER</th>
                    <th>DATE</th>
                    <th>CODE COMMUNE</th>
                    <th>CODE BV</th>
                    <th>VOTANT</th>
                    <th>SUFFRAGE EXP</th>
                    <th>NULL</th>
                    <th>OUI</th>
                    <th>NON</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="{{path("check")}}" class="btn btn-success">Verifier</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="#" class="btn btn-success">Verifier</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="#" class="btn btn-success">Verifier</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="#" class="btn btn-success">Verifier</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="#" class="btn btn-success">Verifier</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="#" class="btn btn-success">Verifier</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="#" class="btn btn-success">Verifier</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="#" class="btn btn-success">Verifier</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="#" class="btn btn-success">Verifier</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="#" class="btn btn-success">Verifier</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="#" class="btn btn-success">Verifier</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>  
</section>
{% endblock %}
