{% extends 'admin.html.twig' %}

{% block title %}Manager{% endblock %}

{% block body %}

<section class="container shadow rounded">
    <p class="text-center text-decoration-underline h3 fw-bold">SAISIE DES PROCES VERBAUX</p>
    <table class="table table-striped mx-auto" id="tableRaw">
        <thead>
            <tr>
                <th>CODE</th>
                <th>DATE</th>
                <th>SOUMIS PAR</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for data in datas %}
                <tr>
                    <td>
                        {% if data.codeKobo == null %}
                            {{"null"}}
                        {% else  %}
                            {{data.codeKobo}}
                        {% endif %}
                    </td>
                    <td>{{data.dateSubmit | date("d-m-Y")}}</td>
                    <td></td>
                    <td>
                        <a href="{{path("check",{'id':data.id})}}" class="btn btn-success">Détails</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<script>
	let table = new DataTable('#tableRaw', {
    // config options...
    });
    // show div
    const showLabelDiv = document.querySelector(".dataTables_length");
    var showLabel = showLabelDiv.querySelector("label");
    var select = showLabelDiv.querySelector("select");
    select.classList.add("mx-2");
    select.style.width = '75px';
    showLabel.classList.add("d-flex");
    showLabelDiv.parentNode.classList.add("my-2");
    // filter div
    const FilterDiv = document.querySelector(".dataTables_filter");
    FilterDiv.classList.add("d-none");
    var filterLabel = FilterDiv.querySelector("label");
    var input = FilterDiv.querySelector("input");
    filterLabel.classList.add("d-flex");
    input.classList.add("mx-1");
</script>


{% endblock %}
