{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="float-start shadow p-2 rounded-3">
        <span class="h3 fw-bold">Johnny Joker</span>
        <a href="#" class="btn btn-danger">Deconnexion</a>
    </div>
</div>
<div class="container my-3">
    <p class="text-center h2 fw-bold text-decoration-underline mt-3 mb-5">Liste des soumissions citoyennes</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>N°</th>
                <th>Commune</th>
                <th>Bureau de vote</th>
                <th>Votant</th>
                <th>Suffrage Exp</th>
                <th>Suffrage null</th>
                <th>Vote oui</th>
                <th>Vote non</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Commune 1</td>
                <td>14</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>5000</td>
                <td>2000</td>
                <td><a href="{{path("check")}}" class="btn btn-info">Verfier</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Commune 1</td>
                <td>14</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>5000</td>
                <td>2000</td>
                <td><a href="#" class="btn btn-info">Verfier</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Commune 1</td>
                <td>14</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>5000</td>
                <td>2000</td>
                <td><a href="#" class="btn btn-info">Verfier</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Commune 1</td>
                <td>14</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>5000</td>
                <td>2000</td>
                <td><a href="#" class="btn btn-info">Verfier</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Commune 1</td>
                <td>14</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>5000</td>
                <td>2000</td>
                <td><a href="#" class="btn btn-info">Verfier</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Commune 1</td>
                <td>14</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>5000</td>
                <td>2000</td>
                <td><a href="#" class="btn btn-info">Verfier</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Commune 1</td>
                <td>14</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>5000</td>
                <td>2000</td>
                <td><a href="#" class="btn btn-info">Verfier</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Commune 1</td>
                <td>14</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>5000</td>
                <td>2000</td>
                <td><a href="#" class="btn btn-info">Verfier</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Commune 1</td>
                <td>14</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>5000</td>
                <td>2000</td>
                <td><a href="#" class="btn btn-info">Verfier</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Commune 1</td>
                <td>14</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>5000</td>
                <td>2000</td>
                <td><a href="#" class="btn btn-info">Verfier</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Commune 1</td>
                <td>14</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>5000</td>
                <td>2000</td>
                <td><a href="#" class="btn btn-info">Verfier</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Commune 1</td>
                <td>14</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>5000</td>
                <td>2000</td>
                <td><a href="#" class="btn btn-info">Verfier</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Commune 1</td>
                <td>14</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>5000</td>
                <td>2000</td>
                <td><a href="#" class="btn btn-info">Verfier</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Commune 1</td>
                <td>14</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>5000</td>
                <td>2000</td>
                <td><a href="#" class="btn btn-info">Verfier</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Commune 1</td>
                <td>14</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>5000</td>
                <td>2000</td>
                <td><a href="#" class="btn btn-info">Verfier</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Commune 1</td>
                <td>14</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>5000</td>
                <td>2000</td>
                <td><a href="#" class="btn btn-info">Verfier</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Commune 1</td>
                <td>14</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>5000</td>
                <td>2000</td>
                <td><a href="#" class="btn btn-info">Verfier</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Commune 1</td>
                <td>14</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>5000</td>
                <td>2000</td>
                <td><a href="#" class="btn btn-info">Verfier</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
