{% extends 'base.html.twig' %}

{% block title %}Resultat{% endblock %}

{% block body %}
<div class="container-fluid my-3">
    <p class="text-center h3 fw-bold text-decoration-underline">Résultat Province du mandoul</p>
</div>
<div class="container">
    <div class="row g-3">
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">departement 1</div>
                <div class="card-body  p-3">
                    <div class="row mb-2">
                        <div class="col-12  text-center p-2">Nombre de votant = 10000</div>
                        <div class="col-6 p-2">Suffrage exprimé = 8000</div>
                        <div class="col-6 p-2">Bulletin nul = 1000</div>
                        <div class="col-6 p-2">Vote oui = 3850</div>
                        <div class="col-6 p-2">Vote non = 3150</div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                        </div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <p class="text-center">Niveau de depouillement</p>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                </div>
                <a href="{{path("departement")}}" class="stretched-link"></a>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">departement 1</div>
                <div class="card-body  p-3">
                    <div class="row mb-2">
                        <div class="col-12  text-center p-2">Nombre de votant = 10000</div>
                        <div class="col-6 p-2">Suffrage exprimé = 8000</div>
                        <div class="col-6 p-2">Bulletin nul = 1000</div>
                        <div class="col-6 p-2">Vote oui = 3850</div>
                        <div class="col-6 p-2">Vote non = 3150</div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                        </div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <p class="text-center">Niveau de depouillement</p>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">departement 1</div>
                <div class="card-body  p-3">
                    <div class="row mb-2">
                        <div class="col-12  text-center p-2">Nombre de votant = 10000</div>
                        <div class="col-6 p-2">Suffrage exprimé = 8000</div>
                        <div class="col-6 p-2">Bulletin nul = 1000</div>
                        <div class="col-6 p-2">Vote oui = 3850</div>
                        <div class="col-6 p-2">Vote non = 3150</div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                        </div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <p class="text-center">Niveau de depouillement</p>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">departement 1</div>
                <div class="card-body  p-3">
                    <div class="row mb-2">
                        <div class="col-12  text-center p-2">Nombre de votant = 10000</div>
                        <div class="col-6 p-2">Suffrage exprimé = 8000</div>
                        <div class="col-6 p-2">Bulletin nul = 1000</div>
                        <div class="col-6 p-2">Vote oui = 3850</div>
                        <div class="col-6 p-2">Vote non = 3150</div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                        </div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <p class="text-center">Niveau de depouillement</p>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">departement 1</div>
                <div class="card-body  p-3">
                    <div class="row mb-2">
                        <div class="col-12  text-center p-2">Nombre de votant = 10000</div>
                        <div class="col-6 p-2">Suffrage exprimé = 8000</div>
                        <div class="col-6 p-2">Bulletin nul = 1000</div>
                        <div class="col-6 p-2">Vote oui = 3850</div>
                        <div class="col-6 p-2">Vote non = 3150</div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                        </div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <p class="text-center">Niveau de depouillement</p>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">departement 1</div>
                <div class="card-body  p-3">
                    <div class="row mb-2">
                        <div class="col-12  text-center p-2">Nombre de votant = 10000</div>
                        <div class="col-6 p-2">Suffrage exprimé = 8000</div>
                        <div class="col-6 p-2">Bulletin nul = 1000</div>
                        <div class="col-6 p-2">Vote oui = 3850</div>
                        <div class="col-6 p-2">Vote non = 3150</div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                        </div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <p class="text-center">Niveau de depouillement</p>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">departement 1</div>
                <div class="card-body  p-3">
                    <div class="row mb-2">
                        <div class="col-12  text-center p-2">Nombre de votant = 10000</div>
                        <div class="col-6 p-2">Suffrage exprimé = 8000</div>
                        <div class="col-6 p-2">Bulletin nul = 1000</div>
                        <div class="col-6 p-2">Vote oui = 3850</div>
                        <div class="col-6 p-2">Vote non = 3150</div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                        </div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <p class="text-center">Niveau de depouillement</p>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">departement 1</div>
                <div class="card-body  p-3">
                    <div class="row mb-2">
                        <div class="col-12  text-center p-2">Nombre de votant = 10000</div>
                        <div class="col-6 p-2">Suffrage exprimé = 8000</div>
                        <div class="col-6 p-2">Bulletin nul = 1000</div>
                        <div class="col-6 p-2">Vote oui = 3850</div>
                        <div class="col-6 p-2">Vote non = 3150</div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                        </div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <p class="text-center">Niveau de depouillement</p>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">departement 1</div>
                <div class="card-body  p-3">
                    <div class="row mb-2">
                        <div class="col-12  text-center p-2">Nombre de votant = 10000</div>
                        <div class="col-6 p-2">Suffrage exprimé = 8000</div>
                        <div class="col-6 p-2">Bulletin nul = 1000</div>
                        <div class="col-6 p-2">Vote oui = 3850</div>
                        <div class="col-6 p-2">Vote non = 3150</div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                        </div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <p class="text-center">Niveau de depouillement</p>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">departement 1</div>
                <div class="card-body  p-3">
                    <div class="row mb-2">
                        <div class="col-12  text-center p-2">Nombre de votant = 10000</div>
                        <div class="col-6 p-2">Suffrage exprimé = 8000</div>
                        <div class="col-6 p-2">Bulletin nul = 1000</div>
                        <div class="col-6 p-2">Vote oui = 3850</div>
                        <div class="col-6 p-2">Vote non = 3150</div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                        </div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <p class="text-center">Niveau de depouillement</p>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">departement 1</div>
                <div class="card-body  p-3">
                    <div class="row mb-2">
                        <div class="col-12  text-center p-2">Nombre de votant = 10000</div>
                        <div class="col-6 p-2">Suffrage exprimé = 8000</div>
                        <div class="col-6 p-2">Bulletin nul = 1000</div>
                        <div class="col-6 p-2">Vote oui = 3850</div>
                        <div class="col-6 p-2">Vote non = 3150</div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                        </div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <p class="text-center">Niveau de depouillement</p>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">departement 1</div>
                <div class="card-body  p-3">
                    <div class="row mb-2">
                        <div class="col-12  text-center p-2">Nombre de votant = 10000</div>
                        <div class="col-6 p-2">Suffrage exprimé = 8000</div>
                        <div class="col-6 p-2">Bulletin nul = 1000</div>
                        <div class="col-6 p-2">Vote oui = 3850</div>
                        <div class="col-6 p-2">Vote non = 3150</div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                        </div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <p class="text-center">Niveau de depouillement</p>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">departement 1</div>
                <div class="card-body  p-3">
                    <div class="row mb-2">
                        <div class="col-12  text-center p-2">Nombre de votant = 10000</div>
                        <div class="col-6 p-2">Suffrage exprimé = 8000</div>
                        <div class="col-6 p-2">Bulletin nul = 1000</div>
                        <div class="col-6 p-2">Vote oui = 3850</div>
                        <div class="col-6 p-2">Vote non = 3150</div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                        </div>
                    </div>
                    <div class="my-1 border rounded p-2">
                        <p class="text-center">Niveau de depouillement</p>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
{% endblock %}
