{% extends 'base.html.twig' %}

{% block title %}Resultat{% endblock %}

{% block body %}
<div class="container-fluid my-3">
    <p class="text-center h3 fw-bold text-decoration-underline">Résultat des élections</p>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Province</th>
                <th>Votant</th>
                <th>Suffrage Exprimé</th>
                <th>Suffrage null</th>
                <th>Vote Oui</th>
                <th>Vote Non</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>PVMAND</td>
                <td>mandoul</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td class="border-success border-3">3850</td>
                <td>3150</td>
                <td><a href="{{path("province2")}}" class="btn btn-primary">Voir plus</a></td>
            </tr>
            <tr>
                <td>PVMAND</td>
                <td>mandoul</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>3850</td>
                <td>3150</td>
                <td><a href="#" class="btn btn-primary">Voir plus</a></td>
            </tr>
            <tr>
                <td>PVMAND</td>
                <td>mandoul</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>3000</td>
                <td class="border-3 border-danger">4000</td>
                <td><a href="#" class="btn btn-primary">Voir plus</a></td>
            </tr>
            <tr>
                <td>PVMAND</td>
                <td>mandoul</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>3850</td>
                <td>3150</td>
                <td><a href="#" class="btn btn-primary">Voir plus</a></td>
            </tr>
            <tr>
                <td>PVMAND</td>
                <td>mandoul</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>3850</td>
                <td>3150</td>
                <td><a href="#" class="btn btn-primary">Voir plus</a></td>
            </tr>
            <tr>
                <td>PVMAND</td>
                <td>mandoul</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>3850</td>
                <td>3150</td>
                <td><a href="#" class="btn btn-primary">Voir plus</a></td>
            </tr>
            <tr>
                <td>PVMAND</td>
                <td>mandoul</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>3850</td>
                <td>3150</td>
                <td><a href="#" class="btn btn-primary">Voir plus</a></td>
            </tr>
            <tr>
                <td>PVMAND</td>
                <td>mandoul</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>3850</td>
                <td>3150</td>
                <td><a href="#" class="btn btn-primary">Voir plus</a></td>
            </tr>
            <tr>
                <td>PVMAND</td>
                <td>mandoul</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>3850</td>
                <td>3150</td>
                <td><a href="#" class="btn btn-primary">Voir plus</a></td>
            </tr>
            <tr>
                <td>PVMAND</td>
                <td>mandoul</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>3850</td>
                <td>3150</td>
                <td><a href="#" class="btn btn-primary">Voir plus</a></td>
            </tr>
            <tr>
                <td>PVMAND</td>
                <td>mandoul</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>3850</td>
                <td>3150</td>
                <td><a href="#" class="btn btn-primary">Voir plus</a></td>
            </tr>
            <tr>
                <td>PVMAND</td>
                <td>mandoul</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>3850</td>
                <td>3150</td>
                <td><a href="#" class="btn btn-primary">Voir plus</a></td>
            </tr>
            <tr>
                <td>PVMAND</td>
                <td>mandoul</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>3850</td>
                <td>3150</td>
                <td><a href="#" class="btn btn-primary">Voir plus</a></td>
            </tr>
            <tr>
                <td>PVMAND</td>
                <td>mandoul</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>3850</td>
                <td>3150</td>
                <td><a href="#" class="btn btn-primary">Voir plus</a></td>
            </tr>
            <tr>
                <td>PVMAND</td>
                <td>mandoul</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>3850</td>
                <td>3150</td>
                <td><a href="#" class="btn btn-primary">Voir plus</a></td>
            </tr>
            <tr>
                <td>PVMAND</td>
                <td>mandoul</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>3850</td>
                <td>3150</td>
                <td><a href="#" class="btn btn-primary">Voir plus</a></td>
            </tr>
            <tr>
                <td>PVMAND</td>
                <td>mandoul</td>
                <td>10000</td>
                <td>8000</td>
                <td>1000</td>
                <td>3850</td>
                <td>3150</td>
                <td><a href="#" class="btn btn-primary">Voir plus</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
