{% extends 'admin.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<section class="container mt-5 text-center">
    <p class="text center mx-auto h3"> Vous n'êtes pas habilité à acceder à la plateforme. <br> Veuillez contacter l'administrateur
    </p>
</section>
{% endblock %}
