{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% extends "admin.html.twig" %}

{% block title  %}
    User
{% endblock title %}

{% block body %}
<section class="container mt-3">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-12 mx-auto pt-5">
            <div class="card mt-5">
                <div class="card-header" style="background-color : #0F3170">
                    <p class="h3 text-light text-center">
                       Changer votre mot de passe
                    </p>
                </div>
                <div class="card-body">
               {#} <form action="" method="POST" id="myForm">
                    <input type="password"  name="pass" id="pass" placeholder="mot de passe" class="form-control my-3" required autofocus>
                    <input type="password" name="confimpass" id="confirmpass" placeholder="confirmer" class="form-control my-3" required>
                    <button class="btn text-white" type="submit" id="submit" style="background-color : #0F3170">Valider</button>
                </form> {#}
                    {{form_start(form)}}
                        {{form_widget(form)}}
                        <hr>
                        <button class="btn text-white w-100 fw-bold" style="background-color : #0F3170">
                            VALIDER
                        </button>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
       $(document).ready(function() {
            $('#myForm').submit(function(e) {
                e.preventDefault();
                // ou return false;
            });
        });
    </script>
</section>
{% endblock %}