{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% extends "admin.html.twig" %}

{% block title  %}
    User
{% endblock title %}

{% block body %}
<section class="container mt-3">
    <div class="row">
        <div class="col-lg-6 mx-auto pt-5">
            <div class="card mt-5">
                <div class="card-header" style="background-color : #0F3170">
                    <p class="h3 text-light text-center">
                       Créer un mot de passe
                    </p>
                </div>
                <div class="card-body">
                    {{form_start(form)}}
                        {{form_widget(form)}}
                        <hr>
                        <button class="btn text-white" style="background-color : #0F3170">
                            Valider
                        </button>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}