{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% extends "admin.html.twig" %}

{% block title  %}
    User
{% endblock title %}

{% block body %}
<section class="container mt-3">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card">
                <div class="card-header bg-primary">
                    <p class="h3 text-light text-center">
                       Changer mot de passe
                        {#{% if editState %}
                            Modifier élève
                        {% else %}
                             Formulaire d'inscription
                        {% endif %}{#}
                    </p>
                </div>
                <div class="card-body">
                    {{form_start(form)}}
                        {{form_widget(form)}}
                        <hr>
                        <button class="btn btn-primary">
                          {#}  {% if editState %}
                                Modifier
                            {% else %}
                                ENREGISTRER
                            {% endif %} {#}
                            Changer
                        </button>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}